/* This is for My HTML Page 2 */
*{
  border: 1px solid rgba(0,0,0,0.3);
}
body {
	background:#e8ebef;
}
p,ol,ul {
    font-style: normal;
  font-size: 16px;
  font-family:  'Indie Flower', cursive;
  line-height: 1.7em;
  word-spacing: 0.05em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  min-width:200px;
  max-width:400px;
  min-height:10px;
  max-height:100px;
  overflow: scroll; 
  border-style: solid;
  border-width:4px 2px 4px 2px;
  border-color:#AF3432;
    border-radius:100px;


 }


h1 {
	color:rgba(86,138,221,0.5);
	font-family: 'Orbitron', sans-serif;
	text-align: center;


}
/*
 {
	font-family: 'Quicksand', sans-serif;
	/*color: white;*/
